
.vscode/settings.json

build/.cmake/api/v1/query/client-vscode/query.json

build/.cmake/api/v1/reply/cache-v2-c7809605e7929e267230.json

build/.cmake/api/v1/reply/cmakeFiles-v1-ded39d143208e577b1c7.json

build/.cmake/api/v1/reply/codemodel-v2-f835b5ecd1c79ca3a27c.json

build/.cmake/api/v1/reply/index-2024-08-08T16-02-52-0446.json

build/.cmake/api/v1/reply/target-MRR_Pi_client_2-Debug-3fba27d47dd2c2a20b5f.json

build/.cmake/api/v1/reply/target-MRR_Pi_client-Debug-7abaa111d621dc38cd99.json

build/.cmake/api/v1/reply/target-MRR_Pi_server_2-Debug-893777263d3133264ffb.json

build/.cmake/api/v1/reply/target-MRR_Pi_server-Debug-f2c252ddf4578cdbea4b.json

build/cmake_install.cmake

build/CMakeCache.txt

build/CMakeFiles/3.16.3/CMakeCCompiler.cmake

build/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake

build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin

build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin

build/CMakeFiles/3.16.3/CMakeSystem.cmake

build/CMakeFiles/3.16.3/CompilerIdC/a.out

build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c

build/CMakeFiles/3.16.3/CompilerIdCXX/a.out

build/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp

build/CMakeFiles/cmake.check_cache

build/CMakeFiles/CMakeDirectoryInformation.cmake

build/CMakeFiles/CMakeError.log

build/CMakeFiles/CMakeOutput.log

build/CMakeFiles/Makefile.cmake

build/CMakeFiles/Makefile2

build/CMakeFiles/MRR_Pi_client_2.dir/build.make

build/CMakeFiles/MRR_Pi_client_2.dir/cmake_clean.cmake

build/CMakeFiles/MRR_Pi_client_2.dir/comms.cpp.o

build/CMakeFiles/MRR_Pi_client_2.dir/CXX.includecache

build/CMakeFiles/MRR_Pi_client_2.dir/depend.internal

build/CMakeFiles/MRR_Pi_client_2.dir/depend.make

build/CMakeFiles/MRR_Pi_client_2.dir/DependInfo.cmake

build/CMakeFiles/MRR_Pi_client_2.dir/flags.make

build/CMakeFiles/MRR_Pi_client_2.dir/link.txt

build/CMakeFiles/MRR_Pi_client_2.dir/progress.make

build/CMakeFiles/MRR_Pi_client_2.dir/test_client_2.cpp.o

build/CMakeFiles/MRR_Pi_client.dir/build.make

build/CMakeFiles/MRR_Pi_client.dir/cmake_clean.cmake

build/CMakeFiles/MRR_Pi_client.dir/comms.cpp.o

build/CMakeFiles/MRR_Pi_client.dir/CXX.includecache

build/CMakeFiles/MRR_Pi_client.dir/depend.internal

build/CMakeFiles/MRR_Pi_client.dir/depend.make

build/CMakeFiles/MRR_Pi_client.dir/DependInfo.cmake

build/CMakeFiles/MRR_Pi_client.dir/flags.make

build/CMakeFiles/MRR_Pi_client.dir/link.txt

build/CMakeFiles/MRR_Pi_client.dir/progress.make

build/CMakeFiles/MRR_Pi_client.dir/test_client.cpp.o

build/CMakeFiles/MRR_Pi_server_2.dir/build.make

build/CMakeFiles/MRR_Pi_server_2.dir/cmake_clean.cmake

build/CMakeFiles/MRR_Pi_server_2.dir/comms.cpp.o

build/CMakeFiles/MRR_Pi_server_2.dir/CXX.includecache

build/CMakeFiles/MRR_Pi_server_2.dir/depend.internal

build/CMakeFiles/MRR_Pi_server_2.dir/depend.make

build/CMakeFiles/MRR_Pi_server_2.dir/DependInfo.cmake

build/CMakeFiles/MRR_Pi_server_2.dir/flags.make

build/CMakeFiles/MRR_Pi_server_2.dir/link.txt

build/CMakeFiles/MRR_Pi_server_2.dir/progress.make

build/CMakeFiles/MRR_Pi_server_2.dir/test_server_2.cpp.o

build/CMakeFiles/MRR_Pi_server.dir/build.make

build/CMakeFiles/MRR_Pi_server.dir/cmake_clean.cmake

build/CMakeFiles/MRR_Pi_server.dir/comms.cpp.o

build/CMakeFiles/MRR_Pi_server.dir/CXX.includecache

build/CMakeFiles/MRR_Pi_server.dir/depend.internal

build/CMakeFiles/MRR_Pi_server.dir/depend.make

build/CMakeFiles/MRR_Pi_server.dir/DependInfo.cmake

build/CMakeFiles/MRR_Pi_server.dir/flags.make

build/CMakeFiles/MRR_Pi_server.dir/link.txt

build/CMakeFiles/MRR_Pi_server.dir/progress.make

build/CMakeFiles/MRR_Pi_server.dir/test_server.cpp.o

build/CMakeFiles/progress.marks

build/CMakeFiles/TargetDirectories.txt

build/compile_commands.json

build/Makefile

build/MRR_Pi_client

build/MRR_Pi_client_2

build/MRR_Pi_server

build/MRR_Pi_server_2

raw/24-06-03-04-30-10.raw

raw/24-06-03-04-31-09.raw

raw/24-06-03-04-32-06.raw

raw/24-06-03-04-35-02.raw

raw/24-06-03-04-37-06.raw
build/.ninja_deps
build/.ninja_log
build/build.ninja
build/client_counter_2.txt
build/server_counter_2_5568.txt
build/server_counter_2_5569.txt
build/server_counter_2_5570.txt
build/.cmake/api/v1/reply/cache-v2-baa83b22ae10acfeeb6a.json
build/.cmake/api/v1/reply/cmakeFiles-v1-4fb86cdf08142d68aed5.json
build/.cmake/api/v1/reply/codemodel-v2-ec91d4be9b87aa3ca296.json
build/.cmake/api/v1/reply/directory-.-Release-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/index-2024-08-23T15-12-42-0445.json
build/.cmake/api/v1/reply/target-MRR_Pi_client_2-Release-cdb418fcb8c940e53385.json
build/.cmake/api/v1/reply/target-MRR_Pi_server_2-Release-d3afc1ce6e64fd8e0e01.json
build/.cmake/api/v1/reply/toolchains-v1-eb9892d078b337db5d9a.json
build/CMakeFiles/rules.ninja
build/CMakeFiles/3.25.1/CMakeCCompiler.cmake
build/CMakeFiles/3.25.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.25.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.25.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.25.1/CMakeSystem.cmake
build/CMakeFiles/3.25.1/CompilerIdC/a.out
build/CMakeFiles/3.25.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.25.1/CompilerIdCXX/a.out
build/CMakeFiles/3.25.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/MRR_Pi_server_2.dir/mixer_processor.cpp.o
raw/image.jpg
raw/image2.jpg
raw/still1.jpg
raw/still1.raw
raw/still1.tif
raw/still1bw.jpg
raw/still1bw.raw
raw/still1bw.tif
build/.cmake/api/v1/reply/index-2024-08-24T22-36-47-0475.json
